# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project
docs/
results/runs/

# Thesis
Thesis-Ausarbeitung/**
#!Thesis-Ausarbeitung/bachelor-thesis.pdf

# Tests
tests/