# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Project
docs/

# Thesis
Thesis-Ausarbeitung/**
!Thesis-Ausarbeitung/my-thesis.pdf

# Tests
tests/